# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# VS Code
.vscode/
flutter/

# OS
.DS_Store

# .py
Dexter_ER2_Simulation.py
Whisper_Test.py
Dexter_copsim.py

# --------------------
# Ignore entire Flutter app
vahh_app/*

# --------------------
# BUT allow Dart source
!vahh_app/lib/
!vahh_app/lib/**

# --------------------
# Allow backend server
!vahh_app/vahh_server/
!vahh_app/vahh_server/**